.teammates{
  width:40%;
  min-height: 90vh;
  font-size:1.8em;
  margin:30px auto;
  padding:0;

  h2{
  font-size:2em;
  }
}


.teammate{
  margin:20px;
  padding:10px;
}

.teammates-contact{
  margin-top: 40px;
  font-size:1em;
  color:#469AE0;
}
