<footer>
  <ul class="list-inline">
    <li><a href="index.html"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
    <li><a href="index.html"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="index.html"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
    <li><a href="index.html"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
  </ul>
  <p>This is an AirBnb Home Challenge @LeWagon</p>
</footer>
